
html {height:100%;}
body {-webkit-font-smoothing: antialiased;}
html, body {margin:0; padding:0; font-family: "Pretendard Variable", sans-serif}
ul, ol, li {margin:0; padding:0; list-style:none;}
a {text-decoration: none;}
div, li, ul, ol, a {box-sizing:border-box;}
h1, h2, h3, h4, h5, p {padding:0; margin:0;} 
button {cursor: pointer; border:0; background-color:transparent;}
body {color:#000;}
div, input, p, ul, li, button, span {box-sizing: border-box;}

table, input, select, textarea, button {font-family: "Pretendard Variable", sans-serif;}

/* margin */
.ml20 {margin-left:20px}

/* color */
.fc-base {color:#000;}
.fc-sub {color:rgba(0, 0, 0, 0.6);}
.fc-primary {color:#1976D2 !important;}

.flex-box {display:flex;}

/* text-align */
.text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}

/* line */
hr.line01 {height:13px; border:0; background-color:#F0EEEE;}

/* form */
/*
.ip-group {border:1px solid #C4C4C4; height:56px; border-radius:4px; display:flex;}
.ip-group label {font-size:16px; color:rgba(0, 0, 0, 0.6); flex-shrink: 0;}
.ip-group input[type=text] {border:0; flex:1;}
*/
.checkbox {display:inline-block; position:relative;}
.checkbox .lbl {display:inline-block; font-size:16px; color:rgba(0, 0, 0, 0.6); line-height:24px; vertical-align: middle;}
.checkbox input {width:24px; height:24px; position:absolute; top:0; left:0; opacity: 0;}
.checkbox .ico {vertical-align: middle; display:inline-block; width:24px; height:24px; background-image:url(../img/checkbox_off.svg); background-repeat:no-repeat; background-size: contain;} 
.checkbox input:checked + .ico {background-image: url(../img/checkbox.svg);}

.select {padding:0 10px;  border:1px solid rgba(25, 118, 210, 0.2); color:rgba(0, 0, 0, 1); font-size:16px; height:54px; border-radius: 4px; appearance: none; background:#fff url(../img/select.svg) no-repeat center right 8px; background-size: 16px 12px; overflow: hidden; text-wrap: nowrap; text-overflow:ellipsis;}

/* button */
.btn-normal {height:42px; text-align:center; color:#fff; font-size:14px; background-color:#1976D2; border-radius:4px; box-shadow: 0px 3px 1px -2px #00000033;}
button.full {width:100%;}

.btn-mid {height:54px; display:inline-block; text-align:center; min-width:76px; border-radius:4px; background-color:#1976D2; color:#fff; font-size:20px; font-weight:500;}
span.btn-mid {line-height:54px;}
.btn-mid.type-red {background-color:#FF5E54;}
.btn-mid.type-brown {background-color:#A46E3C;}
 
@media (max-width:1023px){
    .select {height:42px;}
    .btn-mid {height:42px; } 
    .m-hide {display:none !important;}
}

 /* 로그인 */
.login-wrap {padding:20px 25px; min-height:100vh; display:flex; flex-direction: column;}
.login-header ul {display:flex; gap:5px; width:100%; justify-content: flex-end;}
.login-header button {width:24px; height:24px; border:0; }
.login-header .setting {display:flex; align-items: center;}
.login-header .setting:after {content:""; vertical-align: middle; margin:0 10px; display:inline-block; width:1px; height:16px; background:#1976D2;}
.login-header .btn-setting {background:url(../img/btn_setting.svg) no-repeat center; background-size:22px;}
.login-header .btn-mini {background:url(../img/btn_mini.svg) no-repeat center; background-size:24px;}
.login-header .btn-closed {background:url(../img/btn_closed.svg) no-repeat center; background-size:24px;}
     
.login-form {max-width:520px; margin:0 auto; flex:1; display: flex; align-items: center;}    
.login-form-top {padding:0 16px;}
.login-form-top h1 {font-size:20px; font-weight:400; } 
.login-form-top .sub-tit {font-size:14px; color:rgba(0, 0, 0, 0.6);}
.login-wrap input[type=text] {font-size:16px; color:#000; padding:0 15px; width:100%; border:1px solid #C4C4C4; height:56px; border-radius:4px;}
.login-wrap input[type=text]::placeholder {font-size:inherit; color:rgba(0, 0, 0, 0.6);}

.login-input-group {margin-top:23px; border:1px solid #C4C4C4; border-radius:4px; overflow:hidden;}
.login-input-group input[type=text] {border:0; border-radius:0;}
.login-input-group input[type=text] + input[type=text] {border-top:1px solid #C4C4C4;}

.login-center {margin-top:24px;}
.login-center .txt {padding:0 16px; color:rgba(0, 0, 0, 0.6); font-size:14px; line-height:24px;}

.login-option {margin-top:20px; padding:0 9px; justify-content: space-between; align-items: center;}
.btn-tooltip {width:20px; height:20px; background:url(../img/btn_tooltip.svg) no-repeat; background-size:contain; }
.login-wrap .btn-normal {margin-top:20px;}

.login-wrap .footer {margin-top:20px; font-size:16px; color:#1976D2; text-align:center;}
.login-wrap .footer .mail {padding-left:15px; margin-left:15px; border-left:1px solid #1976D2;}
.login-wrap .footer .mail::before {content:''; margin:-2px 10px 0 0; vertical-align: middle; display:inline-block; width:24px; height:24px; background: url(../img/icon_mail.svg) no-repeat; background-size: contain; }


/* table */
.tbl-wrap table {width:100%; table-layout:fixed; border-collapse: collapse; border-top:1px solid #D9D9D9; color:#504E4E; font-size:16px; }
.tbl-wrap table th {font-weight:600;}
.tbl-wrap table td {font-weight:400;}
.tbl-wrap table > thead th {height:70px; border-bottom:1px solid #D9D9D9; padding:10px 20px;}
.tbl-wrap table > tbody td {border-bottom:1px solid #D9D9D9; height:54px; padding:10px 20px;}

/* paging */
.paging {margin-top:11px; display:flex; justify-content: flex-end; font-size:14px; font-weight:400; align-items: center; gap:23px;}
.paging .page {color:rgba(0, 0, 0, 0.6);}
.paging .page select {font-size:14px; border:0; padding-right:15px; appearance: none; background:url(../img/page_select.svg) no-repeat center right; background-size: 10px 5px;}
.paging .current-page {color:rgba(0, 0, 0, 0.87);}
.btn-prev {width:40px; height:40px; vertical-align:middle; background: url(../img/btn_prev.svg) no-repeat; background-size: contain;}
.btn-next {width:40px; height:40px; vertical-align:middle; background: url(../img/btn_next.svg) no-repeat; background-size: contain;}

/* layout */
.warp, .main-wrap {padding-top:88px;}
.inner {max-width:1440px; margin:0 auto;}
.header {height:88px; box-shadow: 0px 2px 6px 0px #00000040; width:100%; position:fixed; top:0; left:0; background-color: #fff; z-index:100;}
.header > .inner {position:relative;} 
.header .header-top {padding:0 20px; display:flex; justify-content: space-between; align-items: center; height:88px;}
.header .header-top .title {font-size:24px; font-weight:600; color:#1976D2;}
.header .header-top .title .btn-mid {font-size:24px; min-width:200px;}
.header .header-bottom {position:absolute; display:flex; gap:40px; top:0; left:114px; right:112px; height:100%; align-items: center; justify-content: space-between;}
.header .logo {display:inline-block; display:none;}
.header .logo a {display:block; font-size:16px; font-weight:700; line-height:28px; padding-left:33px; background: url(../img/logo_w.svg) no-repeat center left; background-size:28px;}
.header .user-info {max-width:600px; display:flex; align-items: center; justify-content: space-between;  flex-shrink: 0;}
.header .login-info {display:inline-block;  font-size:14px; line-height:28px; flex-shrink:0; flex-basis: 300px;}
.header .login-info strong {font-size:16px; margin-left:10px; font-weight:700; display:inline-block; padding-left:33px; background: url(../img/logo_w.svg) no-repeat center left; background-size:28px; }
.header .attend {display:flex; gap:30px; align-items: center; flex-shrink: 0; flex-basis: 242px; justify-content: space-between;}
.header .attend .attend-point { font-size:12px; gap:80px; line-height:24px; display:inline-block; padding-left:24px; background: url(../img/icon_point.svg) no-repeat; background-size: 24px;}
.header .attend .attend-point strong {margin-left:7px; font-weight:700;}
.header .attend .attend-point strong span {font-weight:normal;}
.header .btn-attend {font-size:12px; color:#000; line-height:24px; padding-right:30px; background: url(../img/btn_attend.svg) no-repeat center right; background-size:24px;}
.search-box {border:1px solid #1976D2; flex: 1; height:56px; position:relative; border-radius: 4px; overflow: hidden;}
.search-box input[type=text] {border:0; padding:10px 30px 10px 10px; font-size:20px; width:100%; height:100%;}
.search-box .btn-search {position:absolute; top:16px; right:16px; width:24px; height:24px; background: url(../img/btn_search.svg) no-repeat; background-size: 24px; }
.search-box.p-bg input[type=text] {background-color:#FCFCFC;}
.search-box.bd-gray {border-color:#D9D9D9; }
.header .btn-notify  {position:relative; width:30px; height:30px; background:url(../img/btn_notify.svg) no-repeat; background-size:30px;}
.header .btn-notify span {display:inline-block; position:absolute; top:3px; right:-3px; width:13px; height:13px; border-radius: 50%; background-color: #1976D2; color:#fff; font-size:9px; line-height:13px; text-align:center; }
.header .btn-menu {width:30px; height:30px; background:url(../img/btn_menu.svg) no-repeat; background-size:30px;}

.header .btn-back  {position:relative; width:30px; height:30px; background:url(../img/btn_back.svg) no-repeat; background-size:30px;}
.header .btn-back span {display:inline-block; position:absolute; top:3px; right:-3px; width:13px; height:13px; border-radius: 50%; background-color: #1976D2; color:#fff; font-size:9px; line-height:13px; text-align:center; }

.main-wrap .footer {margin-top:50px; padding-bottom:20px; font-size:16px; color:#1976D2; text-align:center;}
.main-wrap .footer .mail {padding-left:15px; margin-left:15px; border-left:1px solid #1976D2;}
.main-wrap .footer .mail::before {content:''; margin:-2px 10px 0 0; vertical-align: middle; display:inline-block; width:24px; height:24px; background: url(../img/icon_mail.svg) no-repeat; background-size: contain; }

.side-nav {display:none; padding:23px 30px; position:fixed;; width:209px; top:88px; right:0; bottom:0; background:rgba(40, 40, 40, 0.9); color:#fff; z-index:110;}
.side-nav ul {position:absolute; padding:0 40px; width:100%; top:64px; left:0; bottom:0px; overflow:auto;}
.side-nav ul::-webkit-scrollbar { display: none; }
.side-nav h2 {font-size:20px; font-weight:400;}
.side-menu a {color:#fff; font-size:20px; line-height:50px;}
.side-menu a:before {content:''; display:inline-block; width:24px; height:24px; vertical-align: middle; margin-right:10px; background-repeat: no-repeat; background-size: contain;}
.side-menu a.m05, 
.side-menu a.m06,
.side-menu a.m07,
.side-menu a.m08,
.side-menu a.m09,
.side-menu a.m10,
.side-menu a.m11,
.side-menu a.m12 {color:#9D9C9D;}
.side-menu a.m01:before {background-image: url(../img/side_m01.svg);} 
.side-menu a.m02:before {background-image: url(../img/side_m02.svg);} 
.side-menu a.m03:before {background-image: url(../img/side_m03.svg);} 
.side-menu a.m04:before {background-image: url(../img/side_m04.svg);} 
.side-menu a.m05:before {background-image: url(../img/side_m05.svg);} 
.side-menu a.m06:before {background-image: url(../img/side_m06.svg);} 
.side-menu a.m07:before {background-image: url(../img/side_m07.svg);} 
.side-menu a.m08:before {background-image: url(../img/side_m08.svg);} 
.side-menu a.m09:before {background-image: url(../img/side_m09.svg);} 
.side-menu a.m10:before {background-image: url(../img/side_m10.svg);}  
.side-menu a.m11:before {background-image: url(../img/side_m11.svg);} 
.side-menu a.m12:before {background-image: url(../img/side_m12.svg);}  
.side-menu a.company:before {background-image: url(../img/side_company.svg);}  
.side-menu a.logout:before {background-image: url(../img/side_logout.svg);}  
.btn-side-closed {position:absolute; top:-59px; right:20px; width:30px; height:30px; background:#fff url(../img/btn_side_closed_w.svg) no-repeat; background-size: contain;} 

.wrap {padding-top:108px;}
.wrap .container > .inner {padding:0 20px; max-width:1256px; }
.m-footer {display:none;}
   
@media (max-width:1023px){
    .warp, .main-wrap {padding-top:86px;}
    .header {height:auto; box-shadow: none; position:static;} 
    .header .header-top {height:62px; width:100%; position:fixed; top:0; left:0px; z-index: 100; background-color: #fff; box-shadow: 0px 2px 6px 0px #00000040;} 
	.header .header-top .title {font-size:16px;}
    .header .header-top .title .btn-mid {font-size:20px; height:40px; min-width:180px;}
    .header .logo {display: inline-block;}
    .header .header-bottom {position:static; gap:20px; flex-direction: column-reverse; padding:0 20px;}
    .search-box {border-color:#C4C4C4;}
    .search-box .btn-search {background-image: url(../img/btn_search_m.svg);}
    .header .search-box {width:100%;  flex-basis:56px; flex-shrink: 0; flex-grow: 0;}
    .header .search-box .btn-search {display:block;  }  
    .header .user-info {max-width:100%; padding:10px 15px; display:block; width:100%; border:1px solid #C4C4C4; border-radius: 4px;}
    .header .login-info strong {background: none; padding-left:0; color:#000; margin-left:0; font-size:14px;}
    .header .attend {margin-top:9px;}
    .header .attend .attend-point {background-image:url(../img/icon_point_m.svg)}
    .header .attend .attend-point strong  {font-size:14px;}
    .header .btn-attend {padding-right:25px; background-image:url(../img/btn_attend_m.svg); background-size: 18px 16px;}
    .side-nav {top:0; right:0; bottom:56px; position:fixed; }
    .side-nav ul {position:absolute; padding:0 40px; width:100%; top:64px; left:0; bottom:0px; overflow:auto;}
    .side-nav ul::-webkit-scrollbar { display: none; }
    .btn-side-closed {position:absolute; top:19px; right:20px; width:24px; height:24px; background: url(../img/btn_side_closed.svg) no-repeat; background-size: contain;}
    .paging {justify-content: center;}
    .search-box.p-bg input[type=text] {background-color:#fff;}
}


/* 메인 */
.main-wrap .container > .inner {padding:0 20px; }
.main-banner {gap:22px; justify-content: center; align-items:center; max-width:  1216px; margin:0 auto;}
.main-banner .banner {flex-basis: 597px; flex-shrink: 0;}
.main-banner .banner img {width:100%;} 
.main-banner .news {padding:12px 20px; height:251px; flex:1; box-shadow: 0px 2px 10px 0px #00000040;}
.main-banner .news .img-wrap img {border-radius:4px; width:335px;}
.main-banner .news .img-wrap p {font-size:12px;}
.main-banner .news .txt {margin-top:7px;}
.main-banner .news .txt strong {display:block; font-size:16px;}
.main-banner .news .txt p {font-size:14px;}

.quick-menu {display:flex; flex-wrap:wrap; gap:63px 0; padding:32px 20px 47px;}
.quick-menu > li {width:16.6%; text-align: center;}
.quick-menu a {display:inline-block; width:134px; font-size:24px; font-weight: 200; color:#000;}
.quick-menu a:before {content:''; display:block; width:60px; height:60px; margin:0 auto 18px; background-repeat: no-repeat; background-size: contain;}
.quick-menu a.m01:before {background-image: url(../img/quick_m01.svg);} 
.quick-menu a.m02:before {background-image: url(../img/quick_m02.svg);} 
.quick-menu a.m03:before {background-image: url(../img/quick_m03.svg);} 
.quick-menu a.m04:before {background-image: url(../img/quick_m04.svg);} 
.quick-menu a.m05:before {background-image: url(../img/quick_m05.svg);} 
.quick-menu a.m06:before {background-image: url(../img/quick_m06.svg);} 
.quick-menu a.m07:before {background-image: url(../img/quick_m07.svg);} 
.quick-menu a.m08:before {background-image: url(../img/quick_m08.svg);} 
.quick-menu a.m09:before {background-image: url(../img/quick_m09.svg);} 
.quick-menu a.m10:before {background-image: url(../img/quick_m10.svg);} 
.quick-menu a.m11:before {background-image: url(../img/quick_m11.svg);} 
.quick-menu a.m12:before {background-image: url(../img/quick_m12.svg);} 

.store-list {padding:38px 0; gap:112px; max-width: 1216px; margin:0 auto;}
.store-list > div {flex:1; gap:19px;}
.store-list .store-box img {flex-basis:100px; height:110px; flex-shrink: 0;}
.store-list .store-box strong {font-size:36px; font-weight:500; display:block; color:#282828}
.store-list .store-box p {margin-top:10px; font-size:14px; font-weight:300;}


@media (max-width:1023px){
    .main-banner {display:block; margin-top:15px;}
    .main-banner .banner {width:100%;}
    .main-banner .news {margin:20px 0; }
    .main-banner .news .img-wrap img {max-width:100%; }
    .main-banner .news p br {display:none;}
    .quick-menu {gap:29px 0; padding:20px 10px;}
    .quick-menu > li {width:25%; text-align: center;}
    .quick-menu a {width:100%; font-size:14px; }
    .quick-menu a:before {width:30px; height:30px; margin-bottom:4px;}
    .quick-menu a.m01:before {background-image: url(../img/quick_m01_m.svg);} 
    .quick-menu a.m02:before {background-image: url(../img/quick_m02_m.svg);} 
    .quick-menu a.m03:before {background-image: url(../img/quick_m03_m.svg);} 
    .quick-menu a.m04:before {background-image: url(../img/quick_m04_m.svg);} 
    .quick-menu a.m05:before {background-image: url(../img/quick_m05_m.svg);} 
    .quick-menu a.m06:before {background-image: url(../img/quick_m06_m.svg);} 
    .quick-menu a.m07:before {background-image: url(../img/quick_m07_m.svg);} 
    .quick-menu a.m08:before {background-image: url(../img/quick_m08_m.svg);}  
    .quick-menu a.m09:before {background-image: url(../img/quick_m09_m.svg);} 
    .quick-menu a.m10:before {background-image: url(../img/quick_m10_m.svg);} 
    .quick-menu a.m11:before {background-image: url(../img/quick_m11_m.svg);}   
    .quick-menu a.m12:before {background-image: url(../img/quick_m12_m.svg);} 
    .store-list {display:block; padding:0;}
    .store-list > div {padding:20px; margin:0 -20px;}
    .store-list > div + div {border-top:2px solid #F0EEEE}
    .store-list .store-box img {flex-basis:77px; height:87px;}
    .store-list .store-box strong {font-size:20px; }
    .store-list .store-box p {margin-top:8px;}
    .main-wrap .footer {display:none;}

    .main-wrap {padding-bottom:56px;}
    .m-footer {position:fixed; display:flex; align-items: center; padding:0 40px;  justify-content: space-between; bottom:0; left:0; width:100%; height:56px; box-shadow: -4px 0px 10px 0px #00000040; background-color: #fff;}
    .m-footer a {display:inline-block; text-align:center; width:43px; font-size:12px; color:rgba(0, 0, 0, 0.6);}
    .m-footer a:before {content:''; display:block; width:24px; height:24px; margin:0 auto 3px; background-repeat: no-repeat; background-size: contain;}
    .m-footer .nav-f01:before {background-image:url(../img/nav_f01.svg);}
    .m-footer .nav-f02:before {background-image:url(../img/nav_f02.svg);}
    .m-footer .nav-f03:before {background-image:url(../img/nav_f03.svg);}
}



/* 본사정보 */
.input-group {border:1px solid #C4C4C4; border-radius:4px; min-height:56px; background-color: #fff;}
.input-group label {padding:1px 8px; line-height:16px; font-size:12px; display:block; font-weight:600; color:#878686;}
.input-group .text {padding:2px  8px; font-size:16px; font-weight:300;}
.input-group .text.gray {color:#9D9C9D;}
.input-group.flex-box > div {flex:1;}
.input-group .disabled .text {color:#9D9C9D;}

.btn-download {width:24px; height:24px; vertical-align:middle; background: url(../img/btn-download.svg) no-repeat; background-size: contain;}
.btn-remove {width:30px; height:30px; vertical-align:middle; background: url(../img/btn_remove.svg) no-repeat; background-size: contain;}
.btn-remove2 {width:24px; height:24px; vertical-align:middle; background: url(../img/btn_remove2.svg) no-repeat; background-size: contain;}

.flex-company {gap:10px; margin-bottom:10px;}
.flex-company-detail {gap:10px; flex:1; display: flex; flex-wrap: wrap;}
.flex-company-detail .input-group {flex-shrink:0; flex-basis:calc(33.3% - 7px);} 
.flex-company-detail2 {flex-basis:24%; flex-shrink:0; display:flex; flex-direction: column; gap:10px;}
.flex-company-detail2 > .input-group {flex:1;}
.flex-company-btns {gap:10px; flex-shrink:0;}
.flex-company-btns .btn {flex-shrink:0;}
.flex-company-btns .select {flex:1;}

.company-list {margin-top:10px;}
.company-list .input-group + .input-group {margin-top:10px;}
.company-list .input-group {padding-left:14px; padding-right:14px;}
.company-list .input-group .btn-remove {align-self:center; justify-self: end;}
.company-list .input-group > div {flex-shrink:0; flex-grow: inherit; flex-basis: auto;}
.company-list .input-group .col1 {flex-basis: 120px;}
.company-list .input-group .col2 {flex-basis: 114px;}
.company-list .input-group.type1 .col3 {flex-basis: 146px;}
.company-list .input-group.type1 .col4 {flex-basis: 160px;}
.company-list .input-group.type1 .col5 {flex:1;}
.company-list .input-group.type2 .col3 {flex-basis: 490px;}
.company-list .input-group.type2 .col4 {flex-basis: 140px;}
.company-list .input-group.type2 .col5 {flex:1;}
.company-list .input-group.type3 .col3 {flex-basis: 146px;}
.company-list .input-group.type3 .col4 {flex-basis: 343px;}
.company-list .input-group.type3 .col5 {flex:1;}

.company-form {gap:15px; margin-top:10px; padding:23px 0; background-color:rgba(242, 247, 255, 1);}
.company-form > .company-list {flex:1; margin-top:0;}
.company-form > .btn {flex-shrink: 0; flex-basis:120px;}
.input-group label.fc-primary {font-size:14px; font-weight:700;}
.input-group input[type=text] {height:26px; font-size:16px; width:calc(100% - 20px); border:0; padding:0 8px;}
.input-group .select {height:26px; border:0; padding-right:30px; padding-right:30px; }

@media (max-width:1023px){
    .flex-company-wrap {margin:-22px -20px 0; padding:20px; background-color: rgba(242, 247, 255, 1);}
    .flex-company {display:block;}
    .flex-company-detail .input-group {flex-basis:100%;} 
    .flex-company-detail2 {margin-top:10px; }
    .flex-company-detail2 > .input-group {flex-basis:247px;}

    .company-list.type1 {margin:0 -20px; }
    .company-list.type1 .input-group {border:0; display:block; border-radius: 0; padding:20px; position:relative; border-bottom:1px solid rgba(217, 217, 217, 1);}
    .company-list.type1 .input-group + .input-group {margin-top:0; }
    .company-list.type1 label {display:none;}
    .company-list.type1 .input-group > div {display:inline-block;}
    .company-list.type1 .text {color:rgba(157, 156, 157, 1); font-size:14px; padding:0;}
    .company-list.type1 .col1 {width:100%; display: block;}
    .company-list.type1 .col1 .text {font-size:20px; font-weight:400; margin-bottom:10px; color:#000;}
    .company-list.type1 .btn-remove {position:absolute; top:15px; right:20px;}

    .company-form {display:block; margin:6px -20px 0; padding:15px 20px;}
    .company-form .input-group {display:block; border:0; border-radius: 0; padding:0; background-color: transparent;}
    .company-form .input-group > div {border:1px solid rgba(194, 225, 255, 1); border-radius:4px; min-height:56px; background-color: #fff;}
    .company-form .input-group > div + div {margin-top:10px;}
    .company-form > .btn {width:100%; margin-top:17px;}

    .input-group .disabled {background-color:#FAF9F9 !important;}

} 

/* 배너추가 */
.banner-form {gap:15px; }
.banner-form > .banner-list {flex:1; margin-top:0; background-color:#fff;}
.banner-form > .btn {flex-shrink: 0; flex-basis:120px;}
.banner-form label {line-height: 16px;}
.banner-list .input-group {padding-left:14px; padding-right:14px;} 
.banner-list .input-group > div {flex-shrink:0; flex-grow:1; flex-basis: auto;}
/*
.banner-list .input-group > div.col-title {flex-basis:220px;} 
.banner-list .input-group > div.col-date {flex-basis:220px;} 
.banner-list .input-group > div.col-time {flex-basis:100px;} 
.banner-list .input-group > div.col-tablet {flex-basis:180px;} 
.banner-list .input-group > div.col-mobile {flex-basis:180px;} 
.banner-list .input-group > div.col-etc {flex:1;} 
*/
.btn-upload {width:24px; height:24px; cursor: pointer; vertical-align:middle; background: url(../img/btn_upload.svg) no-repeat; background-size: contain;}
span.btn-upload {display:inline-block;}
.icon-img {display:inline-block; width:24px; height:24px; vertical-align:middle; background: url(../img/icon_img.svg) no-repeat; background-size: contain;}

.btn-file-upload {width:24px; height:24px; vertical-align: middle; overflow: hidden; display:inline-block; position:relative; cursor: pointer;}
.btn-file-upload input[type=file] {position:absolute; top:0; right:0; width:150px; height:100%; cursor: pointer; opacity:0;}

.btn-sm {padding:0 10px; line-height:28px; height:30px; border: 1px solid var(--primary-_states-outlinedBorder, rgba(25, 118, 210, 0.5)); border-radius: 4px;}
.btn-sm.on {background: var(--primary-main, rgba(25, 118, 210, 1)); color:#fff; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2); }

.regi-banner-title {padding:10px 14px; }
.regi-banner-title .btn + .btn {margin-left:10px;}
.regi-banner-title .txt {margin-left:22px; font-size:16px; font-weight:300; line-height:30px; color:#000;}
.regi-banner-img {display:flex; gap:24px; flex-wrap: wrap;}
.regi-banner-img .img-wrap {background-color:#D9D9D9; position:relative; }
.regi-banner-img .img-wrap img {max-width: 100%; max-height: 100% ;}
.regi-banner-img .img-v {width:449px; height:712px;} 
.regi-banner-img .img-h {width:712px; height:449px;}
.regi-banner-img .btn-remove {top:12px; right:12px; position: absolute;}

.banner-search {gap:10px;}
.banner-search .search-box {border-color:#D9D9D9;}
.banner-search .search-box input {background-color:#FCFCFC;}
.banner-search > .btn {flex-basis:259px; flex-shrink: 0;}
.banner-list {margin-top:20px;}

.btn-play {width:20px; height:20px; vertical-align:middle; background: url(../img/btn_play.svg) no-repeat; background-size: contain;}

@media (max-width:1023px){
    .banner-form {margin:-22px -20px 0; background-color:#F1F7FF; padding:20px; display:block;}
    .banner-form > .banner-list { background-color: transparent; margin:0;}
    .banner-list .input-group {border:0; padding:0; display:block;background-color: transparent; }
    .banner-form .input-group > div {border:1px solid rgba(194, 225, 255, 1); border-radius:4px; min-height:56px; background-color: #fff;}
    .banner-form .input-group > div + div {margin-top:10px;}
    .banner-form .input-group input[type=text] {width:100% !important;}
    .banner-form > .btn {width:100%; margin-top:17px;}
    .banner-list .input-group > div.col-date > div {flex:1;}
    .banner-list .input-group > div.col-tablet .text, 
    .banner-list .input-group > div.col-mobile .text {display:flex;} 
    .banner-list .input-group > div.col-tablet .text > span, 
    .banner-list .input-group > div.col-mobile .text > span {flex:1;}
    .icon-img {background-image:url(../img/icon_img_on.svg)}
    .regi-banner-title {padding:10px 0; }
    .regi-banner-title .txt {margin:17px 0 0 0; display: block;}
    .regi-banner-img {display:block; overflow:auto; margin-bottom:20px;}
    .regi-banner-img .img-v {width:206px; height:327px;} 
    .regi-banner-img .img-h {width:327px; height:206px; margin-top:18px;}

    .banner-search {display:block;}
    .banner-search > .btn {width:100%; margin-top:20px; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2);} 
    .banner-list {display:block; margin:20px -20px 0;}
    .banner-list colgroup,
    .banner-list thead {display:none;}
    .banner-list tbody,
    .banner-list tbody > tr {display:block;}
    .banner-list tbody > tr:nth-child(even) {background-color:#F6F5F5;}
    .banner-list tbody > tr td {display:inline-block; height:auto; border:0; padding:0;}
    .banner-list tbody > tr {border-bottom:1px solid #D9D9D9; height:90px;  padding:20px; position:relative; box-sizing: border-box;}
    .banner-list .td-title {font-size:20px; font-weight:400; color:#000;}
    .banner-list .td-time {font-size:16px; font-weight:300; color:#000; position:absolute; top:20px; right:20px;}
    .banner-list .td-play {position:absolute; bottom:20px; right:20px;}
    .banner-list .td-second {font-size:14px; font-weight:400; color:#9D9C9D; position:absolute; bottom:20px; left:20px;}
    .banner-list .td-date {font-size:14px; font-weight:400; color:#9D9C9D; position:absolute; bottom:20px; left:70px;}
}


/* 견적서 */
.esimate-item.input-group {padding-left:6px; padding-right:6px; background-color:#FCFCFC; position:relative;}
.esimate-form {margin-top:20px; gap:15px;}
.esimate-form > .company-list {flex:1; margin-top:0;}
.esimate-form > .btn {flex-shrink:0; flex-basis:120px;}
.esimate-item.input-group div {}
.esimate-item.input-group div.col1 {flex-basis:25%; flex-grow: 0; }
.esimate-item.input-group div.col2 {flex-basis:10%; flex-grow: 0; }
.esimate-item.input-group div.col3 {flex-basis:8%; flex-grow: 0; }
.esimate-item.input-group div.col4 {flex-basis:22%; flex-grow: 0; }
.esimate-item.input-group div.col4 input[type=text] {width:calc(100% - 5px);}
.esimate-item.input-group div.col5 {flex-basis:15%; flex-grow: 0; }
.esimate-item.input-group div.col6 {flex-basis:10%; flex-grow: 0; }
.esimate-item.input-group div.col-etc {flex:1; }

.esimate-list {flex:1;}
.esimate-list .input-group { background-color:#FCFCFC;}
.esimate-list .input-group > div {flex-shrink:0; flex-basis:auto; flex-grow: inherit;}
.esimate-list .input-group > div.col-etc {flex:1;}

.btn-more-arr {display:none; width:24px; height:24px; vertical-align:middle; background: url(../img/btn_more_arr.svg) no-repeat; background-size: contain; position:absolute; top:21px; right:21px;}

.estimate-search {gap:10px;}
.estimate-search .search-box {border-color:#D9D9D9;}
.estimate-search .search-box input {background-color:#FCFCFC;}
.estimate-search > .btn {flex-basis:259px; flex-shrink: 0;}
.estimate-list {margin-top:20px;}

.btn-sort {width:24px; height:24px; vertical-align:middle; background: url(../img/btn_sort.svg) no-repeat; background-size: contain;}
.btn-pdf {width:24px; height:24px; vertical-align:middle; background: url(../img/btn_pdf.svg) no-repeat; background-size: contain; font-size:0;} 

.estimate-detail .estimate-detail-flex:nth-child(odd) {background-color:#F6FAFF;}
.estimate-detail .estimate-detail-flex .input-group {background-color: transparent;}
.estimate-detail-flex > .tit {flex-basis:70px; flex-shrink: 0;}
.estimate-detail-flex > .tit .title {display:block; font-size:12px; font-weight:600; color:#878686; padding: 1px 8px; line-height: 16px;}
.estimate-detail-flex > .tit .text {padding: 2px 8px; font-size: 16px;  font-weight: 300;}
.estimate-detail-flex > .estimate-sub-list {flex:1;}
.estimate-sub-list .input-group {border:0; border-radius: 0; min-height:50px;}
.estimate-detail .estimate-detail-flex + .estimate-detail-flex,
.estimate-sub-list > li + li {border-top:1px solid #D9D9D9;}
.estimate-detail {border-bottom:1px solid #D9D9D9;}
.estimate-sub-list .input-group.flex-box > div {flex:inherit;}

.estimate-sub-list .input-group div.col1 {flex-basis:80px;}
.estimate-sub-list .input-group div.col2 {flex-basis:240px;}
.estimate-sub-list .input-group div.col3 {flex-basis:120px;}
.estimate-sub-list .input-group div.col4 {flex-basis:50px;}
.estimate-sub-list .input-group div.col5 {flex-basis:50px;}
.estimate-sub-list .input-group div.col6 {flex-basis:70px; text-align: right;}
.estimate-sub-list .input-group div.col7 {flex-basis:70px; text-align: right;}
.estimate-sub-list .input-group div.col8 {flex:1;}

.p-hide {display:none;}

@media (max-width:1023px){
    .esimate-item.input-group {display:block; padding:20px; margin:-22px -20px 0; border-radius:0; border:0; background-color:#F5F9FF; box-shadow: 0px 2px 6px 0px #00000040;}
    .esimate-item > div {border:1px solid #C4C4C4; border-radius: 4px; background-color:#fff; height:56px;}
    .esimate-item > div + div {margin-top:10px;}
    .esimate-item > div.flex-box > div {flex:1;}

    .esimate-form {display:block; background-color:#F8FFF8;  margin:8px -20px; padding:20px; box-shadow: 0px 2px 6px 0px #00000040;}
    .esimate-list .input-group {border:0; border-radius: 0; background: none; display:block;}
    .esimate-list .input-group > div {border:1px solid #C4C4C4; border-radius: 4px; background-color:#fff; overflow: hidden; height:56px;}
    .esimate-list .input-group > div input[type=text] {width:100% !important;}
    .esimate-list .input-group > div + div {margin-top:10px;}
    .esimate-form > .btn {width:100%; margin-top:17px;}

    .btn-more-arr {display:inline-block;}
    .esimate-item.close > div {display:none;}
    .esimate-item.close .btn-more-arr {transform: rotate(180deg);}
    .esimate-item.close .btn-more-arr + div {display:flex;}

    .estimate-search {display:block;}
    .estimate-search > .btn {width:100%; margin-top:20px; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2);}
    .estimate-list {display:block; margin:20px -20px 0;}
    .estimate-list colgroup,
    .estimate-list thead {display:none;}
    .estimate-list tbody,
    .estimate-list tbody > tr {display:block;}
    .estimate-list tbody > tr:nth-child(even) {background-color:#F6F5F5;}
    .estimate-list tbody > tr td {display:inline-block; height:auto; border:0; padding:0;}
    .estimate-list tbody > tr {border-bottom:1px solid #D9D9D9; height:90px;  padding:20px; position:relative; box-sizing: border-box;}
    .estimate-list .td-customer {font-size:16px; font-weight:500; color:#000;}
    .estimate-list .td-tel {font-size:12px; font-weight:400; color:#9D9C9D;}
    .estimate-list .td-total {font-size:20px; font-weight:600; color:#000; position:absolute; top:20px; right:20px;}
    .estimate-list .td-pdf {position:absolute; bottom:16px; left:20px; }
    .estimate-list .td-pdf .btn-pdf {margin:0; width:auto; padding:0 30px 0 0; background-position:center right; font-size:14px; color:#9D9C9D;}
    .estimate-list .td-date,
    .estimate-list .td-state {font-size:14px;  color:#9D9C9D; position:absolute; bottom:20px; right:20px;}
    .estimate-list .td-date {right:80px;}

    
    .estimate-detail {margin:0 -20px;}
    .estimate-detail-flex > .tit .title {display:none;}
    .estimate-detail-flex > .tit .text {font-weight:500; padding-top:15px;}
    .estimate-sub-list .input-group > div {display:none;}
    .estimate-sub-list .input-group {display:block; padding:15px 0;}
    .estimate-sub-list .input-group > div.p-hide {display:block; font-size:14px; color:#9D9C9D;}
    .estimate-sub-list .input-group > div.p-hide > div + div {margin-top:10px;}
    .estimate-sub-list .input-group > div.p-hide .black {color:#000;}

    .estimate-detail + .esimate-form{margin-top:0;}
}


/* 시공예 */
.sample-search {gap:10px;} 
.sample-search .search-box {border-color:#D9D9D9;}
.sample-search .search-box input {background-color:#FCFCFC; padding-right:200px;}
.sample-search .search-box .btn-search {right:146px;}
.sample-search .search-box .btn-search2 {color:#1976D2; line-height:24px; padding-right:30px;  font-size:16px; font-weight:600; position:absolute; top:16px; right:25px; background:url(../img/btn_search2.svg) no-repeat center right; background-size:24px;}
.sample-search > .btn {flex-basis:259px; flex-shrink: 0;}
.sample-list {margin:20px -9px 0; display:block; font-size:0; text-align: center;} 
.sample-list > li {cursor: pointer;}
.sample-list > li {display:inline-block; width: 290px; margin:0 9px 9px;}
.sample-list > li img {width:100%; height:249px;}
.sample-list > li p {width:100%; font-size:16px; font-weight:600; line-height:38px; overflow: hidden; text-wrap:nowrap; text-overflow: ellipsis;}

.search-detail {width:100%; left:0; top:0; background-color: rgba(80, 78, 78, 0.9); position:fixed; z-index:200; display:none;}
.search-detail > .inner {max-width: 1256px; padding:24px 20px 30px; margin:0 auto;}
.search-detail h3 {text-align:center; font-size:24px; color:#fff; font-weight:600; line-height:40px; margin-bottom:14px;}
.btn_search_close {width:30px; height:30px; vertical-align:middle; background: url(../img/btn_search_close.svg) no-repeat; background-size: contain; position:absolute; top:29px; right:20px;}
.sample-search-detail .input-group.flex-box > div {flex-basis:12%; flex-shrink:0; flex-grow: inherit;}
.sample-search-detail .input-group.flex-box > div.col-etc {flex:1;}
.sample-search-detail .input-group.flex-box .select {width:100%;}
.btn-detail-search {width:30px; margin-right:19px; height:30px; font-size:0px; flex-shrink:0; align-self: center; vertical-align:middle; background: url(../img/btn_detail_search.svg) no-repeat; background-size: contain;}

.word-list {display: flex; flex-wrap: wrap; gap:5px 10px; padding-bottom:5px;}
.word-item {box-sizing:border-box; display:inline-flex; align-items: center; gap:10px; justify-content: space-between; min-width: 100px; border-radius: 8px; font-size:16px; padding:0 11px 0 6px;  line-height:33px;  background-color:#D9D9D9;}
.word-item .btn-del {width:16px; height:16px; vertical-align:middle; background: url(../img/btn_del.svg) no-repeat; background-size: contain;}
.word-list input[type=text] {height:33px; border:1px solid #D9D9D9; border-radius:4px; width:100px;}

.sample-detail {max-width:1400px; margin:0 auto;}
.sample-detail .img {width:100%;}
.sample-detail .text-wrap {margin-top:13px; gap:20px; justify-content:space-between;}
.sample-detail .text-wrap .paging {flex-basis:152px; flex-shrink: 0; margin:0; gap:16px;}
.sample-detail .text-wrap .paging .current-page { color:#fff;}
.sample-detail .text-wrap .paging .btn-prev {background-image: url(../img/btn_prev_light.svg);}
.sample-detail .text-wrap .paging .btn-next {background-image: url(../img/btn_next_light.svg);}
.sample-detail .txt {color:#fff; flex:1;}
.sample-detail .txt > strong {display:block; font-size:20px; font-weight:600;}
.sample-detail .txt > p {font-size:16px; font-weight:300; margin-top:10px;}

.full-popup {position:fixed; padding:61px 20px 20px 20px; display:flex; display:none; align-items:center; top:0; left:0; height:100%; width:100%; background-color: rgba(40, 40, 40, 0.9); z-index:500;}
.btn-full-popup-close {width:30px; height:30px; vertical-align:middle; background: url(../img/btn_full_popup_close.svg) no-repeat; background-size: contain; position:absolute; top:29px; right:20px;}
.full-popup .pop-con {flex:1; height:100%; overflow:auto; }
.full-popup .pop-con::-webkit-scrollbar { width: 5px; height:5px; }
.full-popup .pop-con::-webkit-scrollbar-track {
    display: none;
}
.full-popup .pop-con::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.construction-form {background-color:#FCFCFC;}
.construction-form > div {max-width:11%;}
.construction-form > div.col-etc {flex:1; max-width:none;}
.construction-form .btn-remove {flex-shrink: 0; align-self: center;}

.textarea {border:1px solid #ddd; border-radius: 10px; font-size:20px; padding:14px 10px; width:100%; resize: none; min-height:110px; box-sizing: border-box;}
.btn-file {position:relative; display:inline-block; width:215px; height:54px; cursor: pointer;}
.btn-file input[type=file] {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;  cursor: pointer;}
.btn-file .btn-mid {width:100%;}


.construction-detail {margin:20px auto 0; max-width:727px }
.construction-detail > img {max-width:100%; margin-bottom:24px; vertical-align: middle;}
.construction-detail .btns {margin-top:20px; gap:40px; display:flex;}
.construction-detail .btns > * {flex:1;}

.construction-img {margin-bottom:13px; display: none;}
.construction-img .btn-sm {border:0; width:90px; text-align: center; background-color: #1976D2; height:28px; display: inline-block; line-height:28px; color:#fff; font-size:16px; font-weight:500;}
.construction-img .btn-sm.type-red {background-color: #FF5E54;}
.construction-img .btn-file {margin-right:20px; width:90px; height:28px;}

@media (max-width:1023px){
    .sample-search {display:block;}
    .sample-search .search-box .btn-search {right:82px;}
    .sample-search .search-box .btn-search2 {right:14px;}
    .sample-search .search-box input {background-color:#fff; padding-right:120px;}
    .sample-search > .btn {width:100%; margin-top:20px; box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2);}


    .search-detail h3 {text-align:center; font-size:16px; margin-bottom:0px;} 
    .search-detail > .inner {padding:14px 20px 17px;}
    .search-detail .btn_search_close {top:19px; right:20px; width:24px; height:24px;}
    .sample-search-detail,
    .sample-search-detail .input-group.flex-box {display:block;}
    .sample-search-detail {display:none;}
    .sample-search-detail .input-group.flex-box {border-radius:16px; border:0; padding-top:22px;}
    .sample-search-detail .input-group.flex-box > div {padding:5px 10px; border-bottom:1px solid #D9D9D9;}
    .btn-detail-search {margin:15px 0 -1px; font-size:15px; color:#fff; width:100%; height:54px; background-color:#1976D2; background-image: none; border-radius:0 0 16px 16px;}

    .sample-detail {height:calc(100% -50px);}
    .sample-detail .text-wrap {display:block;}
    .sample-detail .text-wrap .paging {position:absolute; bottom:0; left:0; width:100%;}

    .construction-form {background-color:#F1F7FF; display: block; margin:-22px -20px 0 ; border-radius:0; border:0; padding:20px;}
    .construction-form > div {border: 1px solid #C2E1FF; border-radius:4px; min-height:56px; max-width:100%; background-color: #fff; overflow: hidden;;}
    .construction-form > div + div {margin-top:10px;}
    .construction-form .word-list {gap:4px 8px; padding-left:5px; padding-bottom:4px;}
    .construction-form .word-item {height:28px;}
    .construction-form .word-list input[type=text] {height:28px;}

    .construction-img {display: block;}
    .construction-detail {max-width:none; margin:0 -20px; padding:20px; background-color:#F1F7FF; }
    .construction-detail > img {margin-bottom:13px;}
    .construction-detail .btns {margin-top:10px;}
    .textarea {min-height:100px; font-size:16px; padding:6px 8px; border-radius: 4px;}
}

@media (max-width:600px){
    .sample-list {margin:20px 0;}
    .sample-list > li {display:block; margin:0; width:100%;}
    .sample-list > li + li {margin-top:20px;} 
    .sample-list > li img {width:100%; height:auto;}
}


/* 추가 */
.select-custom {position:absolute; min-width:94px; border-radius:4px; background-color: #fff; box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);} 
.select-custom input[type=text] {height:40px; width:100%; border:1px solid #D9D9D9; border-radius: 4px;}
.select-custom ul > li {padding:3px 9px;}
.select-custom ul > li+li {border-top:1px solid #D7EAFF;}
.select-custom ul > li button {font-size:16px; height:40px; width:100%; text-align:left;}

.check-swich {display:inline-block; padding:0 12px; position:relative;}
.check-swich label {display:inline-block; cursor:pointer;}
.check-swich label input {position:absolute; top:0; left:0; opacity:0; }
.check-swich label .lbl {margin-left:12px; font-size:16px; font-weight: 300; line-height:40px; color:#9D9C9D;}
.check-swich .check-icon {display:inline-block; width:34px; height:14px; background-color:#9E9E9E; border-radius:7px; position:relative;}
.check-swich .check-icon .circle {position:absolute; top:-12px; left:-12px; transition: left 0.3s; display:inline-block; background-color: rgba(0, 0, 0, 0.04); width:38px; height:38px; border-radius: 50%;}
.check-swich .check-icon .circle::before {content:''; position: absolute;  top: 50%; left: 50%;  transform: translate(-50%, -50%); display:inline-block; width:20px; height:20px; border-radius: 50%; background-color: #fff; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);}
.check-swich label input:checked + .check-icon {background-color:#8BBAE8;}
.check-swich label input:checked + .check-icon .circle {left:8px;}
.check-swich label input:checked + .check-icon .circle::before {background-color:#1976D2;}




/* 거래처 */
.client-list {margin-top:20px;}
.flex-client-detail {display:flex; flex-wrap:wrap; gap:10px;} 
.flex-client-detail > .input-group {flex-basis:calc(25% - 8px); }
.flex-client-detail > .input-group input[type=text] {width:100%;}

.company-form.type-client {padding:0; background-color: transparent;}
.company-form .input-group {background-color:#FCFCFC;}
.company-form .input-group input[type=text],
.company-form .input-group .select {background-color:transparent;}

.client-menu {margin-top:10px;}
.client-menu-list {display:flex; flex-wrap: wrap; width:100%; padding:12px 0 20px;}
.client-menu-list > li {flex:0 0 20%;}

.btn-more-arr-full {width:calc(100% + 40px); height:26px; color:#fff; font-size:16px; margin:0 -20px; border-radius: 0 0 4px 4px; background:#1976D2 url(../img/btn_more_arr_close.svg) no-repeat center right 6px; background-size:17px auto;}
.close > .btn-more-arr-full {background-image:url(../img/btn_more_arr_close2.svg)}
.client-add-wrap {gap:18px; margin-top:12px; }
.client-add-wrap .left {flex:0 0 185px;}
.client-add-wrap .right {flex:1; border:1px solid #C4C4C4; height:479px; border-radius: 4px;}

.multiple-select {padding:21px; border:1px solid #C4C4C4; border-radius: 4px; height:419px; display:flex;  flex-direction: column;}
.multiple-select label {display:flex; align-items: center;  font-size:16px; font-weight:300; position:relative; color:#000; flex:1;}
.multiple-select label input {position:absolute; top:0; left:0; opacity: 0;}
.multiple-select label input:checked + .lbl {font-weight:700;}
.client-add-wrap .btns {margin-top:6px;}
.client-add-wrap .btns .btn-mid {flex:1;}


@media (max-width:1023px){
    .p-hide {display:initial;}
    .client-list {display:block; margin:20px -20px 0;}
    .client-list colgroup,
    .client-list thead {display:none;}
    .client-list tbody,
    .client-list tbody > tr {display:block;}
    .client-list tbody > tr:nth-child(even) {background-color:#F6F5F5;}
    .client-list tbody > tr td {display:inline-block; height:auto; border:0; padding:0;}
    .client-list tbody > tr {border-bottom:1px solid #D9D9D9; height:90px;  padding:20px; position:relative; box-sizing: border-box;}
    .client-list .td-col1 {font-size:16px; font-weight:500; color:#000;}
    .client-list .td-col2 {font-size:20px; font-weight:100; color:#000; position:absolute; top:20px; right:20px;}
    .client-list .td-col3 {font-size:14px; font-weight:300; color:#8E8D8D; position:absolute; bottom:20px; left:20px;}
    .client-list .td-col4 {font-size:12px; font-weight:400; color:#9D9C9D;}
    .client-list .td-col7 {position:absolute; bottom:16px; right:20px; }
    .client-list .td-col7 .btn-remove {width:20px; height:20px;}

    .flex-client-detail {display:block;}
    .flex-client-detail > .input-group + .input-group {margin-top:12px;} 
    .company-form.type-client {margin-top:10px; padding:0 20px; background-color:#F1F7FF;} 
    .company-form .input-group {background-color: transparent; margin-top:10px;}
    .company-form.type-client > .btn {margin-top:12px; border-radius:4px 4px 0 0;}
    .company-form.type-client.close .input-group,
    .company-form.type-client.close > .btn {display: none;}

    .client-menu {border:0; }
    .client-menu > label {font-size: 20px; font-weight: 400; margin-bottom: 10px; color: #000;}
    .client-menu-list > li {flex:0 0 50%;}
    .client-menu-list .check-swich {padding:0;}
    .client-add-wrap {flex-direction: column-reverse; gap:10px; margin-bottom:20px;}
    .client-add-wrap .left {flex-basis:auto;}
    .client-add-wrap .right {flex:0 0 247px;}
    .client-add-wrap .btns {gap:10px;}
    .client-add-wrap .btns > * {flex:1;}
}



/* 고객 */
.customer-form {margin-top:20px; padding-top:9px; border-top:1px solid #D9D9D9; gap:8px;}
.customer-form .input-group {background-color:#F5FFF2;} 
.customer-form .input-group input {width:100%;}
.customer-form .input-group input,
.customer-form .input-group select {background-color: transparent;}
.customer-form .input-group.flex-box > div.col1 {flex:0 0 160px;}
.customer-form .input-group.flex-box > div.col2 {flex:0 0 160px;}
.customer-form .input-group.flex-box > div.col3 {flex:0 0 130px;}
.customer-form .input-group.flex-box > div.col4 {flex:0 0 180px;}
.customer-form .input-group.flex-box > div.col5 {flex:0 0 280px;}
.customer-form .input-group.flex-box > div.col7 {flex:0 0 100px;}

.customer-tbl {margin:0;}
.customer-tbl > table {border-top:0;}

@media (max-width:1023px){
    .customer-form {border-top:0; margin:20px -20px 0; display:block; padding:0 20px; background-color:#F1F7FF; display:b lock;} 
    .customer-form .input-group {margin-top:11px; display:block; border:0; border-radius: 0; padding:0; background-color: transparent;}
    .customer-form .input-group > div {border:1px solid rgba(194, 225, 255, 1); border-radius:4px; min-height:56px; background-color: #fff;}
    .customer-form .input-group > div + div {margin-top:10px;}
    .customer-form > .btn {width:100%; margin-top:17px; border-radius: 4px 4px 0 0;}
    .customer-form.close .input-group,
    .customer-form.close > .btn {display: none;}

    .customer-tbl {display:block; margin:0 -20px;}
    .customer-tbl colgroup,
    .customer-tbl thead {display:none;}
    .customer-tbl tbody,
    .customer-tbl tbody > tr {display:block;}
    .customer-tbl tbody > tr:nth-child(even) {background-color:#F6F5F5;}
    .customer-tbl tbody > tr td {display:inline-block; height:auto; border:0; padding:0;}
    .customer-tbl tbody > tr {border-bottom:1px solid #D9D9D9; height:90px;  padding:20px; position:relative; box-sizing: border-box;}
    .customer-tbl .td-col1 {font-size:16px; font-weight:500; color:#000;}
    .customer-tbl .td-col2 {font-size:20px; font-weight:100; color:#000; position:absolute; top:20px; right:20px;}
    .customer-tbl .td-col3 {font-size:12px; font-weight:400; color:#9D9C9D;}
    .customer-tbl .td-col4 {font-size:14px; font-weight:300; color:#8E8D8D; position:absolute; bottom:20px; left:20px;}
    .customer-tbl .td-col7 {position:absolute; bottom:16px; right:20px; }
    .customer-tbl .td-col7 .btn-remove {width:20px; height:20px;}
    
}

/* 사원 */
.employee-list {margin-top:20px;}

.regiEmployee {gap:30px;}
.regiEmployee > div {flex:1; padding:25px; border:1px solid #D9D9D9; border-radius:4px;}
.regiEmployee > .left .input-group + .input-group {margin-top:20px;}
.regiEmployee > .right {padding:30px 40px;}
.employee-check-list > li + li {margin-top:22px;}
.employee-check-list .check-swich label .lbl {color:#000; font-weight:300;}
.regiEmployee .input-group input[type=text] {width:100%;}
@media (max-width:1023px){
    .employee-list {display:block; margin:20px -20px 0;}
    .employee-list colgroup,
    .employee-list thead {display:none;}
    .employee-list tbody,
    .employee-list tbody > tr {display:block;}
    .employee-list tbody > tr:nth-child(even) {background-color:#F6F5F5;}
    .employee-list tbody > tr td {display:inline-block; height:auto; border:0; padding:0;}
    .employee-list tbody > tr {border-bottom:1px solid #D9D9D9; height:90px;  padding:20px; position:relative; box-sizing: border-box;}
    .employee-list .td-col2 {font-size:16px; font-weight:500; color:#000;}
    .employee-list .td-col3 {font-size:16px; font-weight:500; color:#000;}
    .employee-list .td-col5 {font-size:20px; font-weight:100; color:#000; position:absolute; top:20px; right:20px;}
    .employee-list .td-col6 {font-size:14px; font-weight:300; color:#8E8D8D; position:absolute; bottom:20px; left:20px;}
    .employee-list .td-col4 {font-size:12px; font-weight:400; color:#9D9C9D;}
    .employee-list .td-col8 {position:absolute; bottom:16px; right:20px; }
    .employee-list .td-col8 .btn-remove {width:20px; height:20px;}

    .regiEmployee {display:block;}
    .regiEmployee > .left {border:0; border-radius: 0; padding:0 20px 13px;  margin:-23px -20px 0; background-color:#F1F7FF;}
    .regiEmployee > .left .input-group + .input-group {margin-top:10px;}
    .regiEmployee > .left .input-group {border-color:#C2E1FF;}
    .regiEmployee > .left .btn-more-arr-full {margin:0 auto 4px; width:100%;}
    .regiEmployee > .left.close .input-group:not(.first) {display:none;}
    .regiEmployee > .right {border:0; border-radius: 0; padding-top:0;  margin:0 -20px; background-color:#F7FFF1;}
    .regiEmployee > .right .tit {display:block; margin:0 -20px 20px; height:26px; text-align: center; color:#fff; font-size:12px; line-height:26px; font-weight:300; border-radius:0 0 10px 10px; background-color:#6FA174;}
    .employee-check-list > li + li {margin-top:2px;}


}

/* 일정표 */
.schedule-search {}
.schedule-search .select {flex:0 0 180px; padding-left:22px; border:0; font-size:30px; color:#504E4E; font-weight:600;}

.fc .fc-col-header-cell {border:0;}
.fc .fc-scrollgrid {border:0;}  
.fc-theme-standard td, .fc-theme-standard th {border-color:#DCE2EB;}
.fc .fc-daygrid-body {border-top:1px solid #DCE2EB; border-left:1px solid #DCE2EB;}
.fc .fc-scrollgrid-section-header th {border:0;}
.fc-scrollgrid-sync-inner {text-align:right;padding:14px 10px  10px;}
.fc-col-header-cell-cushion {font-size:20px; font-weight:300; }
.fc-col-header-cell.fc-day-sat {color:#1976D2;}
.fc-col-header-cell.fc-day-sun {color:#FF5E54;}
.fc .fc-non-business {background-color: transparent;}
.fc .fc-daygrid-day {position:relative; height:150px;}


.custom-box {position:absolute; bottom:0; left:0; width:100px;}
.custom-box > div {display:flex; cursor: pointer; align-items: center; width:100%; height:28px; color:#fff; font-size:14px; padding:3px 9px; justify-content: space-between;}
.custom-box > div em {font-weight:500; font-size:14px; font-style: normal;}
.event-type1 {background-color:#C28E5F;}
.event-type2 {background-color:#4199F0;}
.event-type3 {background-color:#FF9A94;}
.event-type4 {background-color:#54CC62;}
.event-type5 {background-color:#878686;}

@media (max-width:1023px){
    .fc {margin:0 -20px;}
    .fc-theme-standard td, .fc-theme-standard th {border-color:#C4C4C4;}
    .fc .fc-daygrid-body {border-top:1px solid #C4C4C4; border-left:0; border-right:0 !important;}
    .fc-scrollgrid-sync-inner {text-align:right;padding:5px;text-align:center; }
    .fc-col-header-cell-cushion {font-size:13px; text-align:left; }
    .fc-daygrid-day-top {justify-content: center;}
    .fc-daygrid-day-number {font-size:14px;}
    td.fc-daygrid-day {border-left:0; border-right: 0; }
    .fc-scrollgrid-section-body > td {border-right:0;}
    .fc-daygrid-day {height:120px;}

    .custom-box {bottom:auto; top:28px; width:100%;}
    .custom-box > div {height:21px; font-size:12px;padding:3px 2px;}
    .custom-box > div em {font-size:12px;}

    .schedule-search {gap:10px; align-items: center;}
    .schedule-search .select {flex-basis: 103px; font-size:20px; padding-left:0;}
}



/* 견적서 */
.estimate-popup {padding:16px 20px 24px; overflow:auto; position:fixed; z-index:999; width:100%; height:100%; min-height:400px; top:0; left:0; background: url(../img/bg-estimate.svg) no-repeat center center; background-size:cover;}
.estimate-popup > .inner {text-align:center;}
.estimate-item-wrap {display:inline-block; position:relative;}
.estimate-item-wrap .title {position:absolute; padding-top:10px; padding-right:36px; text-align: right; justify-content: end; top:14px; right:-20px; color:#fff; text-align:right; font-size:14px; height:43px; width:336px; background: url(../img/bg-estimate-tit.svg) no-repeat; background-size: auto 100%;;}
.estimate-item-wrap .title {width:min(336px,56.5vw); height:min(43px, 7.74vw); font-size:min(14px, 2.52vw); padding-top:min(10px, 1.8vw); top:min(14px, 2vw); }
.estimate-popup .estimate-item {max-width:100%; }
.estimate-popup .btn-wrap {position:fixed; bottom:0; display:flex; justify-content: center; width:100%; left:0; z-index:100;}
.estimate-popup .btn-wrap button {border-radius:10px 0 0 0; width:146px; border:1px solid #6C9BB5;}
.estimate-popup .btn-wrap .type-gray {background-color:#9D9C9D; }
.estimate-popup .btn-wrap button + button {border-radius:0 10px 0 0;}
